<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/Landing Page.css">

<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="content">
					<h1 class="text-weight-bolder text-info"><i class="fas fa-campground"></i>KYLO</h1>
					<h3>Kylo Camping</h3>
					<hr>
					<a href="/campgrounds">
				<button class="btn btn-info btn-lg"> Take a Look </button>
						</a>
				</div>
			</div>
		</div>
	</div>




<% include partials/footer %>