<% include partials/header %>



<body class="newcampbg">
	

<div class="container">
	
	<header class="jumbotron">
		<div class="container">
			

			<div class="container">

				<h1 style="text-align:center" class="text-warning">Login</h1>
				<h4 style="text-align:center">Welcome Back!</h4>
					<form action="/login" method="post">
							<input style="width: 80%; margin: 1rem 													auto;" class="form-control" type="text" 										name="username" placeholder="Username">
							<input style="width: 80%; margin: 2rem 													auto;" class="form-control" type="password" 										name="password" placeholder="Password">
							<button style="width: 80%; margin: 5rem auto;" 											class="btn btn-lg btn-warning 														mt-2 btn-block">Login</button>
					</form>
					<a style="mt-2" href="/campgrounds">Back to 						Campgrounds</a>
					<% include ./partials/footer %>
			</div>
	</div>