<% include partials/header %>

<body class="newcampbg">
	

<div class="container mt-4">
	
	<header class="jumbotron">
		<div class="container">
			

			<div class="container">

				<h1 style="text-align:center"class="text-success font-weight-bold">Register</h1>
				<h4 style="text-align:center">Everyone Is Welcome!</h4>
						
					<form action="/register" method="post">
							<input style="width: 80%; margin: 1rem 													auto;" class="form-control" type="text" 										name="username" placeholder="Username">
							<input style="width: 80%; margin: 2rem 													auto;" class="form-control" type="password" 										name="password" placeholder="Password">
							<button style="width: 80%; margin: 5rem auto;" 											class="btn btn-lg btn-success 														mt-2 btn-block">Sign Up</button>
					</form>
					<a style="mt-2" href="/campgrounds">Back to 						Campgrounds</a>
					<% include ./partials/footer %>
			</div>
	</div>