<% include ../partials/header %>
<body class="newcampbg">
	

<div class="container">
	
	<header class="jumbotron">
		<div class="container">
			

			<div class="container">

				<h1 style="text-align:center">Create a New 											Campground</h1>
						
					<form action="/campgrounds" method="POST">
							<input style="width: 80%; margin: 1rem 													auto;" class="form-control" type="text" 										name="name" placeholder="Name">
							<input style="width: 80%; margin: 2rem 													auto;" class="form-control" type="text" 										name="image" placeholder="Image URL ">
							<input style="width: 80%; margin: 2rem auto;" 											class="form-control" type="text" 											   name="description" placeholder="Description">
							<button style="width: 80%; margin: 5rem auto;" 											class="btn btn-lg btn-info 														mt-2 btn-block">Submit</button>
					</form>
					<a style="mt-2" href="/campgrounds">Back to 						Campgrounds</a>
					<% include ../partials/footer %>
			</div>
	</div>